body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: oldlace;
}

form {
    margin: auto;
    background-color:lightblue;
    border-radius: 8px;
    box-shadow: 0 6px 8px darkcyan;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: darkcyan;
    background-color: black;
    border-radius: 10px;
    
}

fieldset {
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:gainsboro;
}

legend {
    font-weight: bold;
    text-align: center;
    font-size: large;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid skyblue;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: skyblue;
    color:darkcyan;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor:pointer;
}

button :hover {
    color:darkslategray;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}

#resume-display h2 {
    color:darkblue;
}
